/* CSS Document */
body {
	font-size:13px;
	line-height:20px;
	font-family:Verdana, Geneva, "Microsoft Yahei", sans-serif;
	text-align: justify;
}

a {
	color: #2d64b3;
	text-decoration:none;
	
}

a:hover {
	color: #d55111;
	text-decoration:none;
}



ul {
	margin:0px;
	/*padding:0px 0px 0px 24px;*/
	padding:0px 0px 0px 1px;
	list-style:none;
}

#jellon_papertable tr{   
    background:#FFFFFF;
	height:120px;
}        

#jellon_papertable div{
	padding:4px;
	padding:4px;
	border-top:1px dashed #CCCCCC;
	display:none;
}

/***/

#jellon {
	width:980px;
	margin:16px auto;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 30px #CCCCCC;
}

#jellon_basic {
	overflow:hidden;
}

#jellon_b_left {
	float:left;
	padding:33px 16px 32px 32px;
}

#jellon_b_middle {
	float:left;
	width:333px;
	padding:30px 10px 32px 10px;
}

#jellon_b_right {
	float:left;
	width:250px;
	margin:40px 0px 32px 0px;
	padding:4px;
	border: 1px solid #B0B0B0;
	box-shadow: 0 0 16px #DDDDDD; 
	display:none;
}


#jellon_b_l_name {
	font-size:20px;
	/*font-family:Verdana, Geneva, "Microsoft Yahei", sans-serif;*/
	font-family:Georgia,Times New Roman, Microsoft Yahei;
	font-weight:bold;
	/*display:block;*/
	line-height:28px;
	height:28px;
	text-shadow:0 0 1px #CCCCCC;
}

#jellon_b_l_title {
	font-size:13px;
	display:block;
	font-style:italic;
}

#jellon_b_l_contact {
	/*font-family: Consolas, "Courier New", Courier, monospace;*/
	font-size:13px;
	font-style:italic;
	line-height:18px;
}

#jellon_b_r_photo {
	/*padding:4px;*/
	/*border: 1px solid #B0B0B0;*/
	/*background:#F0F0F0;*/
	padding:0px;
	box-shadow: 0 0 18px #CCCCCC; 
}

#jellon_b_r_photo img {
	border: 1px solid #CCCCCC;
}

#jellon_detail {
	padding:0px 32px;
}

.jellon_d_item {
	font-size:13px;
	margin-bottom:24px;
}

.jellon_d_i_authorurl {
	text-decoration:underline;
	color:#000;
}
.jellon_d_i_authorurl:hover {
	text-decoration:underline;
	color:#000;
}

.jellon_d_i_title {
	font-weight: bold;
	font-size:19px;
	line-height:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	/*text-transform:uppercase;*/
	padding:8px 0px;
	text-shadow:0 0 1px #CCCCCC;
}

.jellon_d_i_c_year {
	display:inline-block;
	width:160px;
	font-weight:bold;
	color:#333333;
}

.jellon_d_i_c_label {
	font-weight:bold;
	color:#333333;
}

.jellon_d_i_c_emphasize {
	font-weight:bold;
	color:#333333;
}
.jellon_d_i_c_name{
	font-weight:bold;
	color:#333333;
}

.jellon_d_i_c_refer {
	font-style:italic;
	color:#333333;
}

#jellon_footer {
	width:100%;
	text-align:center;

	line-height:20px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	margin:22px 0px;
	color:#999999;
	border-top:1px dashed #CCCCCC;
	padding:5px 0;
}